ul
  li
    a(href="index.html") Home
  li
    a(href="about.html") About
  li
    a(href="tutoring.html") Tutoring
  li
    a(href="contact.html") Contact
  li
    a(href="testimonials.html") Testimonials
  li
    a(href="faq.html") FAQ
  li
    a(href="resources.html") Resources
  li
    a(href="publications.html") Publications
